/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    background-color: rgba(14, 19, 31, var(--tw-bg-opacity));
    text-color: rgba(255, 255, 255, var(--tw-text-opacity));
  }