/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    background-color: theme(colors.brand-black);
    text-color: theme(colors.brand-white);
  }